@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  min-height: 100%;
}
body {
  font-size: 1.6rem;
  font-family: "Ubuntu", cursive;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 0, 150);
  background-image: url("./assets/todo-bg-small.webp"),
    linear-gradient(#3f0b3c 50%, rgb(122, 12, 98));
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
form,
input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

.app {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  min-height: 90vh;
  background-color: rgba(2, 1, 2, 0.5);
  color: #af788e;
  border-radius: 0.5rem;
  border: 5px solid purple;
  box-shadow: 0.1rem 0.1rem 2rem #fff;
}
.addTask {
  position: relative;
}
.addTask form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem auto;
}
.addTask input {
  padding: 0.5rem 0.2rem;
  margin-right: 0;
  border-radius: 5px;
  border: 2px solid purple;
  outline: none;
  min-height: 4.3rem;
  background-color: rgb(245, 173, 245);
  transition: background-color 0.2s;
}
.addTask input:focus {
  background-color: rgb(177, 6, 177);
  color: #fff;
}

.addTask button {
  padding: 1rem 0.8rem;
  border-radius: 0.5rem;
  border: 2px solid purple;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.addTask input:hover,
.addTask button:hover {
  background-color: purple;
  color: rgb(245, 173, 245);
}
.addTask input:hover::placeholder,
.addTask input:focus::placeholder {
  color: rgb(245, 173, 245);
  opacity: 0.8;
}
.addTask button:active {
  background-color: rgb(75, 1, 75);
}
.input-note {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: smaller;
  color: #fff;
  background-color: #ee3939;
  border-radius: 0.5rem;
  padding-block: 0.1rem;
}
.todoList {
  margin-top: 2rem;
}
.todoList img {
  display: block;
  margin: 1rem auto;
}
.todoList h2 {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  text-shadow: 0px 0px 60px #fff;
}
.task-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2rem 0;
  box-shadow: 0rem 0rem 0.2rem #fff;
  transition: box-shadow 0.2s;
}
.task-container:hover {
  box-shadow: 0.1rem 0.1rem 1rem #fff;
}
.task-number {
  background-color: #6b0138;
  color: #fff;
  padding: 1rem;
  flex: 10%;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-name-controls-container {
  position: relative;
  flex: 90%;
  padding: 1rem;
  padding-bottom: 2rem;
}
div.task-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.task-name > p {
  word-break: break-all;
}
div.task-name p:first-letter {
  text-transform: capitalize;
}
span.created-at {
  font-size: 1rem;
  font-style: italic;
  position: absolute;
  bottom: 2px;
  right: 10px;
}
.task-completed {
  text-decoration: line-through solid #fff;
  text-decoration-thickness: 0.2rem;
}
.task-not-completed {
  text-decoration: none;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: #7a0c62 1px solid;
}
.controls button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: rgb(145, 14, 75);
  border: none;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.1s;
}

.controls button:active {
  box-shadow: 0rem 0rem 0rem #fff;
  background-color: #3f0b3c;
  color: #fff;
}
button.button-completed {
  background-color: #3f0b3c;
  color: #fff;
}
@media screen and (min-width: 320px) {
  .app {
    width: 90vw;
    margin: 1.5rem;
    padding: 1.5rem 2rem;
  }
}

@media screen and (min-width: 480px) {
  .app {
    min-width: 40rem;
    margin: 2rem;
    padding: 2rem 3rem;
  }
  .input-note {
    padding-block: 0.3rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("./assets/todo-bg.webp"),
      linear-gradient(#3f0b3c 50%, rgb(122, 12, 98));
    background-blend-mode: multiply;
  }
  .app {
    margin-top: 3rem;
    width: 70vw;
  }
  .addTask form {
    flex-direction: row;
  }
  .addTask input {
    padding: 1rem 0.8rem;
    flex: 5;
  }
  .addTask button {
    flex: 1;
  }
  .input-note {
    padding-block: 0.5rem;
  }
  .todoList {
    margin-top: 4rem;
  }
  .no-tasks h2 {
    transition: text-shadow 0.3s;
  }
  .no-tasks h2:hover {
    text-shadow: 0px 0px 0px #fff;
  }
  .no-tasks img {
    transition: transform 0.3s;
  }
  .no-tasks h2:hover + img {
    transform: rotate3d(0, 1, 0.5, 360deg);
  }
  .task-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .task-name-controls-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 3rem 2rem;
  }
  span.created-at {
    font-size: 1.2rem;
  }
  .task-name {
    align-self: center;
  }
  .task-container .controls {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
    align-self: center;
  }
  .controls button:hover {
    background-color: #3f0b3c;
    color: #fff;
    box-shadow: 0.1rem 0.1rem 0.5rem #fff;
  }
  .controls button:active {
    box-shadow: 0rem 0rem 0rem #fff;
    background-color: #3f0b3c;
    color: #fff;
  }
}
@media screen and (min-width: 1025px) {
  .app {
    margin-top: 3rem;
    width: 60vw;
  }
}
